

body {
    background-color: #242331; 
    color: #ffffff; 
    font-family: Arial, sans-serif; 
}


label {
    display: block;
    margin-bottom: 15px; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type="text"], input[type="nome"], input[type="email"] {
    width: 370px; 
    height: 45px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

div {
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    color: hsl(0, 0%, 95%);
    position: absolute;
    padding: 20px;
    padding-top: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:500px;
    height: 600px;
    background-color: #423950;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


button {
    font-size: 20px;
    width: 370px;
    height: 45px;
    color:#ffffff;
    background-color: #797385;
    border: none;
    border-radius: 5px;
    margin-top: 30px; 
}



p {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.btnback {
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 20px 8px 20px;
    background-color: 797385;
    color: #fffeff;
    border: none;
    left: 92%;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
}

.btnback:hover {
    background-color: #797385;
}
