
body {
    background-color: #242331; 
    color: #ffffff; 
    font-family: Arial, sans-serif; 
}

.titulo {
    font-size: 90px;
    margin: 0;
}


.divTitulo {

    color: #ffffff;
    font-family: Arial;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    border-radius: 0 0 20px 20px;

}


.divPrincipal {
    font-family: Arial;
    font-size: 20px;
    color: hsl(0, 0%, 95%);
    padding: 20px;
    width: 1200px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}


.divComplementares {
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    color: hsl(0, 0%, 95%);
    position: relative;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:500px;
    height:200px;
    background-color: #423950;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

button {
    font-size: 20px;
    width: 450px;
    height: 45px;
    color:#ffffff;
    background-color: #797385;
    border: none;
    border-radius: 5px;
    margin-top: 30px; 
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.container {
    display: grid;
    text-align: center;
    
}
